
<div class="wideRow">
<label for="tiplabel"  class="itemNarrow">Tip:</label>
<input type="text" class="itemWide" id="tip" name="tip" value="<%= tip.text %>" placeholder="Insert a tip" autocomplete="off"/>
</div>

<br/>
<a href="/goback"><button type="button">Cancel</button></a>

<input type="submit" value="Save">
